<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arya Stark</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/topkills">Top Kills</a>
    </div>
    <div class="about">
      <h1 class="titles">Did you know ?</h1>
      <p>
        Arya Stark is without a doubt the most bad-ass character of the GoT and
        ASoIaF worlds.
      </p>
      <p>
        Arya rejects the notion that she must become a lady and marry for
        influence and power. Instead, she believes that she can forge her own
        destiny. She is fascinated by warfare and training in the use of arms,
        and is bored by embroidery and other "lady-like" pursuits.
      </p>
    </div>
  </body>
</html>
