<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valar Morghulis</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/topkills">Top Kills</a>
    </div>
    <div class="topkills">
      <h1 class="titles">Kill List</h1>
      <h3>Kill List</h3>
      <ul>
        <li>
          {Cersei Lannister} - For her role in the execution of her father and
          the death of Lady. Crushed by debris during the Battle of King's
          Landing.
        </li>
        <li>
          {The Mountain} - For leading the brutal torture at Harrenhal. Revived
          by Qyburn from his presumed death at the hands of Oberyn Martell.
          Killed by his brother, Sandor Clegane, during the Battle of King's
          Landing.
        </li>
        <li>
          {Walder Frey} - For his role in killing her brother and mother.[28]
          Killed by Arya after she gained entry to his castle using a Faceless
          Men shapeshifter mask. Arya first killed Lord Walder's sons Lame
          Lothar and Black Walder Rivers (who each respectively killed her
          pregnant sister-in-law and mother during the Red Wedding), then fed
          their flesh to the unwitting Lord Walder baked into a pie.[48]
        </li>
        <li>
          {Polliver} - For killing her friend Lommy, stealing her sword Needle,
          and taking part in the brutal torture at Harrenhal. Stabbed though the
          neck with Needle by Arya while repeating the same words Polliver said
          to Lommy when he killed him.
        </li>
        <li>
          {Joffrey Baratheon} - For ordering the execution of her father.
          Assassinated at his own wedding by Olenna Tyrell.
        </li>
        <li>
          {Rorge} - For threatening to rape her. Stabbed in the heart with
          Needle by Arya just after adding him to the list.
        </li>
        <li>
          {The Hound} - For killing her friend Mycah and being a Lannister
          lackey. Severely injured by Brienne of Tarth and left to die by Arya.
          He actually survived, though she doesn't know it, and she later
          admitted that by that point part of her didn't want him to die and she
          had already removed him from the list. By Season 8, she met Sandor
          again, now as a grudging ally, and made no effort to kill him.
          Perished during the King's Landing siege, throwing himself and his
          brother, Gregor, into a fiery chasm during their personal fight.
        </li>
        <li>
          {Tywin Lannister} - For leading the Lannisters against her brother.
          Killed by his own son, Tyrion Lannister, with a crossbow.
        </li>
        <li>
          {Meryn Trant} - For killing her dancing master Syrio Forel and aiding
          Cersei in her coup. Killed by Arya in a Braavosi brothel where she was
          disguised as Ghita.
        </li>
      </ul>
    </div>
  </body>
</html>
